.footer {
    margin-top: auto;
    background-color: #29282D;
}

.footer_main-wrapper {
    display: block;
    padding-top: 47px;
    border-top-color: rgba(0, 0, 0, 0.4);
}

.footer_main-line {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.footer-main_wrapper {
    padding-top: 48px;
    margin-bottom: 58px;
}

.footer_wrapper {
    padding-top: 50px;
    margin-bottom: 43px;
}



.footer_address {
    margin-top: 1px;
    margin-left:0;
}